<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Jober{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('https://rawgit.com/enyo/dropzone/master/dist/dropzone.css') }}">
    <link rel="stylesheet" href="{{ asset('https://code.jquery.com/ui/jquery-ui-git.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
     
         <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css') }}">
    {% endblock %}
         {% block javascripts %} 
            <script type="text/javascript" src=" {{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js') }}"></script>
           <script type="text/javascript" src=" {{ asset('https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src=" {{ asset('https://rawgit.com/enyo/dropzone/master/dist/dropzone.js') }}"></script>
         {% endblock %} 
  
  </head>
<body>
    {% block aplicatindataform %}{% endblock %}  
    {% block data %}{% endblock %}  
 </body>
</html>


{# empty Twig template #}
