

{% extends 'JoberBundle::base.html.twig' %}

{% block aplicatindataform %} 
    
		<div class="container">
			<div class="row main">
					<form>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Imie</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								         {{ form_widget(form.imie, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'imie'}}) }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Nazwisko</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								      {{ form_widget(form.nazwisko, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'nazwisko'}}) }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Doświadczenie</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa-suitcase fa" aria-hidden="true"></i></span>
									      {{ form_widget(form.doswiadczenie, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'doświadczenie'}}) }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Miasto</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									 {{ form_widget(form.miasto, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'miasto'}}) }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Kraj</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								 {{ form_widget(form.kraj, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'kraj'}}) }}
								</div>
							</div>
						</div>
                        
                        <div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Dyspozycyjność</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								 {{ form_widget(form.dyspozycyjnosc, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'kraj'}}) }}
								</div>
							</div>
						</div>
                        
                        
                         <div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Kraj</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								 {{ form_widget(form.profesja, {'attr': {'class': 'form-control', 'id':'dok','placeholder':'kraj'}}) }}
								</div>
							</div>
						</div>
                        
                        

						<div class="form-group ">
							 <button type="submit" class="btn btn-success btn-md"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Zapisz </button>
						</div>
						
					</form>
				</div>
		</div>
{% endblock %}

{# empty Twig template #}

    
    
    
    