{% extends 'JoberBundle::base.html.twig' %}

{% block data %} 
    
    <div  class="main-center">
        {{data.imie}}
        <br>
        {{data.nazwisko}}
        <br>
        {{data.doswiadczenie}}
        <br>
        {{data.miasto}}
        <br>
        {{data.kraj}}
        <br>
        {% for data in data.dyspozycyjnosc%}
             {{ data|join(' i ') }}
        {% endfor %}
        <br>
        {{data.profesja}}
    </div>
{% endblock %}